.btn {
    padding: 12px 24px;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right, $--orange, $--yellow);
    width: 100%;
    border-radius: 6px;
    color: white;
}
